/* Activity rich editor styles */

#buddypress form#whats-new-form.minimized #wp-what-is-new-wrap .mce-top-part,
#buddypress form#whats-new-form.minimized #wp-what-is-new-wrap .mce-statusbar,
#buddypress form#whats-new-form.minimized #aw-what-is-new-submit {
	display: none;
}

#buddypress form#whats-new-form.minimized #wp-what-is-new-editor-container {
	max-height: 50px;
	overflow: hidden;
}

#buddypress form#whats-new-form #what-is-new-submit {
	float: right;
	margin-top: 12px;
}

#buddypress #what-is-new-options:after {
	clear: both;
	content: "";
	display: table;
}

/* Use the TwentySeventeen's button style */
#buddypress #what-is-new-submit input[type="submit"] {
	-webkit-appearance: button;
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

#buddypress #what-is-new-submit input[type="submit"]:hover {
	background: #767676;
}

#buddypress #what-is-new-submit input[type="submit"]:disabled {
	background: #ccc;
	color: #fff;
}

/* Nouveau Styles */

#buddypress.buddypress-wrap form#whats-new-form #whats-new-avatar {
	float: left;
}

#buddypress.buddypress-wrap form#whats-new-form #whats-new-content {
	margin-left: 55px;
	padding: 0 0 20px 20px;
}

#buddypress.buddypress-wrap form#whats-new-form p.activity-greeting {
	line-height: 0.5;
	margin-bottom: 15px;
	margin-left: 75px;
}

#buddypress.buddypress-wrap #whats-new-form div#message {
	margin: 0 0 15px;
}

#buddypress.buddypress-wrap div#message.published {
	clear: both;
	display: block;
}

#buddypress.buddypress-wrap div#message p {
	font-size: 90%;
	display: block;
	padding: 10px 15px;
}

#buddypress.buddypress-wrap div#message.error p {
	background-color: #fdc;
	border: 1px solid #a00;
	clear: left;
	color: #800;
}

#buddypress.buddypress-wrap div#message.published p {
	background-color: #efc;
	border: 1px solid #591;
	color: #250;
}
